
#navigation {
    float: right;
    padding-top: 8px;
    ul {
        list-style: none;
        list-style-position: outside;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
        li {
            float: left;
            padding: 0 0 0 44px;
            a {
                color: #77777b;

                &:hover {
                    @extend %active-links;
                }
          }
            &.active {
                a {
                    @extend %active-links;
                }
            }
      }
  }
}
@import "extends";
