@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #DC7777;
}

/* Хэдер вместе с меню сделал зафиксироваными здесь, а не в отдельном сайте */

header {
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: #3D3D3D;
    border-bottom: 5px solid #6F6F6F;
    z-index: 99;
}

.logo {
    display: inline-block;
    width: 25%;
    margin-top: 35px;
    text-align: center;
    color: #DC7777;
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: inline-block;
    width: 50%;
    text-align: center;
}

nav a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.header-search {
    display: inline-block;
    width: 24%;
    text-align: center;
}

#search {
    width: 200px;
    height: 25px;
    border: none;
    border-radius: 5px;
}


main {
    height: 800px;
}

.news {
    display: inline-block;
    position: absolute;
    top: 15%;
    left: 10%;
    width: 600px;
    height: 400px;
    padding: 50px 30px;
    background-color: #F6F5F5;
    border: 2px solid #C0C0C0;
}

.news-image img{
    width: 400px;
    margin: 30px 100px;
}

.notice {
    display: inline-block;
    position: absolute;
    top: 15%;
    right: 15%;
    width: 300px;
    padding: 20px 15px;
    background-color: #F6F5F5;
    border: 2px solid #C0C0C0;
}


footer {
    height: 200px;
    width: 100%;
    background-color: #3D3D3D;
    border-top: 5px solid #6F6F6F;
    color: #fff;
}

.tagline {
    font-size: 34px;
    text-align: center;
    margin: 30px 0;
}

.social {
    text-align: center;
}

.social a {
    display: inline-block;
    margin: 0 25px;
    height: 20px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.social a:nth-child(1) {
    background-color: #DC7777;
}

.social a:nth-child(2) {
    background-color: #78B5DC;
}

.social a:nth-child(3) {
    background-color:#6A71A9;
}

.social a:nth-child(4) {
    background-color: #A9886A;
}

.copyright {
    padding: 20px;
    font-size: 18px;
}